.navbar-brand
{
    margin-right: auto !important; /* Aligns the logo to the left */
}

.navbar-brand img 
{
    width: 100px; /* Set the desired width */
    height: auto; /* Adjust height proportionally */
}

.footer
{
    background-color: gray;
    height: 100px;
    width:auto;
    text-align: center;
}